@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home PowerPlaner</h1>
    <iframe src="https://giphy.com/embed/vVzH2XY3Y0Ar6" width="360" height="480" frameBorder="0"></iframe>
</div>
