@{
    ViewData["Title"] = "Ready Plans";
}

<div class="text-center">
    <h1 class="display-4">Ready Plans</h1>
    <div class="text-center">
        @foreach (var item in Model)
        {
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                </div>
            </div>
        }
    </div>
</div>
