<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PowerPlaner.MVC.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* wysokość stopki */
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* wysokość stopki */
            line-height: 60px; /* równiająca się wysokość */
            background-color: #f5f5f5;
        }
    </style>
</head>



    @if (User.Identity.IsAuthenticated)
    {
    <body class="bg-light">
    <div class="d-flex align-items-start bg-body-tertiary">

        @{
            await Html.RenderPartialAsync("~/Views/Templates/Navigation/_LoggedInNavbar.cshtml");
        }
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
    </body>
    
    }
    else
    {
        <body class="bg-light">
    <div class="container bg-light">
        @{
            await Html.RenderPartialAsync("~/Views/Templates/Navigation/_LoggedOutNavbar.cshtml");
        }
        <main role="main" class="pb-3 bg-light">
            @RenderBody()
        </main>
    </div>
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container text-center">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
        </body>
    
    }


    <script src="~/js/site.js">
    </script>



</html>
