@{
    var currentUrl = ViewContext.RouteData.Values["Action"]!.ToString();
    ViewData["Title"] = "_LoggedOutNavbar";

}


<nav class="navbar navbar-expand-lg loggedout">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
            <img src="~/image/icon2.png" class="toggle-img" alt="logo">
        </a>
            <a class="nav-link text-start ms-5 me-5 navbar-text p-3 @(currentUrl == "Index" ? "active" : "")" asp-action="Index" asp-controller="Home">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                     class="bi bi-house-door-fill">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                </svg>
                <span class="btn-text navbar-text">Home</span>
            </a>
            
        
        <a class="nav-link plans text-start navbar-text p-3 @(currentUrl == "ReadyPlans" ? "active" : "")" asp-action="ReadyPlans" asp-controller="Home">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
            </svg>
            <span class="btn-text navbar-textk">Ready plans</span>
        </a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link px-4 py-3 border-end border-2 border-gradient navbar-text  @(currentUrl == "Login" ? "active" : "")" asp-controller="Account" asp-action="Login">Sign in</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link px-4 py-3 border-gradient navbar-text @(currentUrl == "Register" ? "active" : "")" asp-controller="Account" asp-action="Register">Sign up</a>

            </li>
        </ul>
    </div>
</nav>
