body {
    height: 100vh;
}

.handle {
    cursor: grab;
}

.list-group li:hover {
    background-color: #e4e4e462;
}


/* NAVBAR LoggedIn*/
nav {
    border-bottom: 3px solid rgba(233, 230, 230, 0.377);
}

.left-bar {
    position: sticky;
    top: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border-right: 3px solid rgba(233, 230, 230, 0.377);
}

.nav-link {
    margin-bottom: 5px;
    transition: all 0.4s ease !important;
    position: relative;
    max-width: 100%;
    white-space: nowrap;
}

    .nav-link:hover {
        background-color: #e4e4e4c4;
    }

    .nav-link.active {
        font-weight: bold;
        background: rgb(14,220,236);
        background: linear-gradient(153deg, rgba(14,220,236,0.5802696078431373) 0%, rgba(0,116,255,0.5466561624649859) 100%);
    }


.collapsed {
    width: 6rem;
    transition: width 0.5s ease;
}

.left-bar:not(.collapsed) {
    width: 16rem;
    transition: width 0.6s ease;
}


.collapsed .nav-link {
    max-width: 3rem;
}

    .collapsed .nav-link span {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

.nav-link span {
    opacity: 1;
    transition: opacity 2s ease;
}

.icon-container {
    display: flex;
    align-items: center;
    min-height: 120px;
    margin-bottom: 8rem;
}

.collapsed div a img {
    transition: width 0.2s ease;
    width: 0;
}

div a img {
    transition: width 0.5s ease;
    width: 150px;
}

icon-container btn:hover {
    background-color: #e4e4e4c4;
}
.nav-pills .active{
    color: white;
}
.circle {
    background-color: #0d6efd !important;
    background: linear-gradient(153deg, rgba(14,220,236,0.5802696078431373) 0%, rgba(0,116,255,0.5466561624649859) 100%);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
}

    .circle svg {
        color: white;
        font-size: 24px;
    }

.user {
    padding: 2px;
    border: 2px solid;
    border-color: #0d6efd !important;
    border-radius: 50%;
}




/* NAVBAR LoggedOut*/
.navbar{
    color: none;
}

.loggedout {
    margin: 2rem;
    background: #ffffff;
    border-bottom: 0px;
    border-radius: 25px;
}
    .loggedout .nav-link{
        background:none;

    }
        .loggedout .nav-link:hover {
            background-color: #e4e4e462;
        }
    .loggedout .active{
        color: #0d6efd !important;
    }
    .loggedout .active:hover {
        color: #0d6efd;
    }
    .loggedout .active span{
        color: #0d6efd;
    }

    .border-gradient {
        border: 2px solid;
        background: rgb(14,220,236);
        background: linear-gradient(153deg, rgba(14,220,236,0.5802696078431373) 0%, rgba(0,116,255,0.5466561624649859) 100%);
    }


nav a img {
    width: 60px;
    background-color: white;
    border-bottom: 0px;
}

/* LOGIN */
.login {
    display: inline-block
}